<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:component-scan base-package="com.gao"/>
	<!-- 导入所需要的资源配置文件 -->
	<context:property-placeholder location="classpath:redis.properties"/>
    <!--单机访问-->
	<!--<import resource="classpath:spring-redis.xml"/>-->
    <!-- 哨兵机制 -->
	<!--<import resource="classpath:spring-redis-sentinel.xml"/>-->
	<import resource="classpath:spring-redis-cluster.xml"/>
</beans>

